@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    height: 90vh;
  background-image: url("/images/hero.jpg");
  background-color: var(--moss-green);
  background-repeat: no-repeat;
  background-size: cover;
}
